* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: rgb(238, 238, 238);
}

.row{
    background: white;
    border-radius: 30px;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}


.navbar.navbar-dark.bg-dark{
    background-color: #1C6758!important;
 }